<h1>PRIVATE ZONE</h1>
<iframe src="https://giphy.com/embed/zm2hA1BgilRgk" width="480" height="264" frameBorder="0" class="giphy-embed"
  allowFullScreen></iframe>
<p><a href="https://giphy.com/gifs/cat-cute-keyboard-zm2hA1BgilRgk"></a></p>
<a href="/">Home</a>